{% extends 'base.html' %}

{% block content %}
<div class="container-fluid chat-container overflow-auto px-3 py-4" id="chatWindow">
	{% for chat in chats %}
		{% if chat.sender == 'system' %}
				<div class="chat-message left">
					<div class="message bg-response"><pre>{{ chat.message }}</pre></div>
				</div>
		{% elif chat.sender == 'user' %}
			<div class="chat-message right">
				<div class="message bg-sender">{{ chat.message }}</div>
			</div>
		{% endif %}
	{% endfor %}
	<div id="bottom-anchor"></div>
</div>
<div class="chat-input bg-dracula p-3">
	<div class="input-group">
    	<input type="text" id="cmdText" class="form-control bg-dark border-0 text-light" placeholder="Type a message...">
    	<button class="btn btn-accent" id="cmdSend" type="submit">Send</button>
	</div>
</div>

<script>
	window.onload = function() {
		document.getElementById('bottom-anchor').scrollIntoView();
    };

	$('#cmdSend').click(function() {
		submitCmd();
	});

	$('#cmdText').keypress(function(k) {
		if (k.which == 13 && $('#cmdText').val() != "") {
			submitCmd();
		}
	})

	function submitCmd() {
		var text = $('#cmdText').val();
		$('#cmdText').val('');

		var chatWindow = $('#chatWindow');
			chatWindow.append(`
				<div class="chat-message right">
    				<div class="message bg-sender">${text}</div>
    			</div>
			`);
		document.getElementById('bottom-anchor').scrollIntoView({behavior: "smooth"});

		$.post('/send_message', {
			"message": text
		},
		function(data, status) {
			chatWindow.append(`
				<div class="chat-message left">
					<div class="message bg-response"><pre>${data.message}</pre></div>
				</div>
			`);
			document.getElementById('bottom-anchor').scrollIntoView({behavior: "smooth"});
		});

		
	}
</script>
{% endblock %}